node_modules
node_modules/*
tests/node_modules
tests/node_modules/*

.env
export_env.sh

lambda_zip
lambda_zip/*

.terraform
.terraform/*
terraform.tfstate
terraform.tfstate.backup

aws
aws/*

*/*/lambda_zip/*.zip
lambda_layers/zip/

lambda_layers/*/nodejs/node_modules

